fastapi
uvicorn
langchain 
langgraph 
typing 
typing_extensions 
langchain_openai 
langchain_core 
langchain-community
confluent-kafka
python-dotenv
openai
faiss-cpu
tiktoken
pandas
numpy
tqdm
streamlit
unstructured
unstructured_inference
chromadb
pdf2image
pillow
pdfminer.six
pi_heif
pdfplumber
pymupdf